.container-flashcard{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    width: 50%;
    background-image: var(--bs-gradient);

    .flashcard{
        
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;


        .word {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .definition {
            font-size: 18px;
            color: #555;
        }
    }
    .footer-flashcard{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
    }
}